body {
    /* background-color: dark-grey; */
    color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.jumbotron p {
    font-size: 1.5em;
}

.panel-default {
    z-index: 10;
    background-color: #e9ecef;
    border: 1px solid black;
    border-radius: 25px;
}

.tab-content > .tab-pane {
    height: 200px;
}
