body {
    /* background-color: dark-grey; */
    color: black;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 1.5;
    height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.jumbotron p {
    font-size: 1.5em;
}

.tab-content>.tab-pane {
    height: 200px;
}

#companyInfo {
    display: none;
}

#studentTemplateTable {
    display: none;
}